<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PrimaryServerDB" 
         connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False"  
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Users\Public\Documents"/>
    <add key="LogEnable" value="True"/>
    <add key="LogFileSize" value="5"/>
    <add key="DateTimeFormat" value="G"/>
  </appSettings>
</configuration>